@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/* Todos os elementos */
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

:root {
	font-size: 16px;
}

/* Corpo da página (_base.html) */
body {
	display: grid;
		grid-template-rows: max-content 1fr;
	width: 100%;
	height: 100%;
	margin: 0;
}

/* Menu de navegação (nav.html) */
.nav_menu {
	display: grid;
		grid-template-rows: max-content 1fr;
		grid-template-columns: repeat(4, max-content);
		grid-template-areas:
			"logo  .     .     .    "
			"link1 link2 link3 link4";
		justify-items: end;
		gap: 0 1.5rem;
	padding: 0.5rem;
		padding-bottom: 0.25rem;
	border-bottom: 2px solid #237223;
}
.nav_menu_logo {
	grid-area: logo;
	height: 3.125rem;
}
.nav_menu_list {
	display: contents;
}
.nav_menu_list li {
	display: block;
}
.nav_menu_list a {
	color: #B22415;
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: none;
	transition-duration: 200ms;
}
.nav_menu_list a:hover {
	color: #FF1F06;
}
.nav_menu_link_1 {grid-area: link1}
.nav_menu_link_2 {grid-area: link2}
.nav_menu_link_3 {grid-area: link3}
.nav_menu_link_4 {grid-area: link4}

/* Conteúdo principal da página */
main {
	margin: 1rem;
}

.main_cadastro {
	display: grid;
		grid-template-columns: repeat(2, max-content);
		justify-items: center;
		justify-content: center;
		gap: 1rem;
}
.main_vendas {
	display: grid;
		grid-template-columns: repeat(2, max-content);
		justify-items: center;
		justify-content: center;
		gap: 1rem;
}

div {
	width: max-content;
}

/* FORMULÁRIOS */
.form_wrapper {
	display: grid;
		grid-template-rows: repeat(2, max-content);
		justify-items: stretch;
		gap: 1rem;
}
.form_wrapper button {
	grid-column: 1 / 3;
	justify-self: center;
	width: 30%;
}
.fieldset_cadastro {
	display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 0.5rem;
}
.fieldset_descadastro {
	display:grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 0.5rem;
}

.main_vendas fieldset {
	display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		row-gap: 0.5rem;
}
.main_vendas button {
	grid-column: 1 / 3;
	justify-self: center;
	width: 30%;
}

/* TABELAS */
table {
	border-collapse: collapse;
}

caption {
	margin-bottom: 0.75rem;
	font-weight: bold;
}

.col_id		{width: 3rem;}
.col_nome	{width: 6rem;}
.col_preco	{width: 6rem;}

thead,
tfoot th {
	background-color: #333333;
	color: #FFFFFF;
}

tbody tr:nth-of-type(even),
tfoot td {
	background-color: #EEEEEE;
}

th, td {
	padding: 0.25rem 0.5rem;
	font-weight: normal;
}

.cell_num	{text-align: end;}
.cell_str	{text-align: start;}
.cell_cen	{text-align: center;}

/* MÓDULO CARRINHO */
.links a {
	font-weight: bold;
	font-size: 1.35rem;
	text-decoration: none;
	color: #b22415;
	transition-duration: 250ms;
}

.links a:hover {
	color: #ff1f06;
}

.links {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#tabela-carrinho {
	margin: 0 auto;
}

#tabela-carrinho .produto .quantidade { 
	text-align: center;
}

#tabela-carrinho .produto .preco,
#tabela-carrinho .produto .total,
#carrinho-valor-total {
	text-align: right;
}

.carrinho-total td {
	font-weight: bold;
}

#carrinho-valor-total {
	text-align: right;
}

input[type='submit'].finalizar-compra {
	background-color: #b22415;
	font-weight: bold;
	color: white;
	border-radius: 1rem;
	padding: 1rem;
	border: 0;
	transition: 250ms;
}
input[type='submit']:hover.finalizar-compra {
	background-color: #ff1f06;
}

@media (max-width:550px) {
	body {
		width: 100%;
		margin: 0 0 0 0;
		padding: 1rem;
	}

	* {
		font-size: 10px;
	}
}
