<form id="form_descadastro" action="/cadastro/descadastrar/" method="post">
	<fieldset class="fieldset_descadastro">
		<legend>Marcar Produto Como Indisponível</legend>

		<label for="select_descadastro">Nome do produto:</label>
		<select name="id_produto" id="select_descadastro" required="True">
			<option value="">—</option>
			{% if produtos.empty == False %}
			{% for row in produtos.itertuples() %}
			<option value="{{ row[0] }}">{{ row[1] }}</option>
			{% endfor %}
			{% endif %}
		</select>

		<button>Enviar</button>
	</fieldset>
</form>